@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F8F8F8;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    align-content: center;
}


#leftPanel {
    background-color: #30A1ED;
    height: 100vh;
    width: 30vw;
}

#tinput {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 25px;
}

#contentPanel {
    height: 100vh;
    width: 70vw;
}
#centerPanel {
    min-height: 25vh;
    min-width: 35vw;
}

#whiteText {
    color: white;
}

#flagBackground {
    background: url("images/american-flag.jpg") no-repeat top center;
}
.verticalContent {
    display:block;
    align-content:center;
}

.leftPanelText1{
    color: white;
    font-family: Montserrat;
    font-weight: 700;
}

.leftPanelText2 {
    color: white;
    font-family: Montserrat;
    font-weight: 500;
}

.contentPanelText1 {
    color: black;
    font-family: Montserrat;
    font-weight: 700;
}

.contentPanelText2 {
    color: black;
    font-family: Montserrat;
    font-weight: 500;
}

.block {
    display:block;
}

.CenterContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.CenterContent .title h1 {
    color: #c5ecfd;
    text-align: center;
    margin-bottom: 25px;
}

